@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


#hidethis { animation: css 0s 3s forwards; }

@keyframes css  { to { visibility: hidden; } }

.rectangle {
  display: inline-block;
  width: 500px;
  height: 50px;
  background: #b7b7b7a0;
}


.backgroundcolour {
  background-color: #f3f2ef0e;
  width: 100%;
}

.nobr {
  white-space: nowrap;
}

.nice_font {
    font-family: "Inter";
    font-weight: normal;
    text-align: center;
}

.spacer {
  margin-top: 120px;
}

.positionInBottom {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    font-size: 100px
}

.positionInBottom2 {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    font-size: 100px
}
.big_button {
    font-size: 100px
}

.medium_button {
    font-size: 50px
}

.flag_button {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
}


.date_input {
  margin-left: 450px;
  text-align: center;
  margin-right: 450px;
  font-size: 1.8rem
}

.big_date_input {
  font-size: 1.8rem
}

.center_text {
  text-align: center;
}

.center_button {
  display: flex;
  justify-content: center;
}