@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.backgroundcolour {
  background-color: #f3f2ef0e;
  width: 100%;
}


.nice_font {
    font-family: "Inter";
    font-weight: normal;
}

.spacer {
  margin-top: 120px;
}

.positionInBottom {
    position: 'absolute';
    display: flex;
    justify-content: flex-end;
    font-size: 100px
}

.positionInBottom2 {
    position: 'absolute';
    display: flex;
    justify-content: flex-end;
    font-size: 100px
}
.big_button {
    font-size: 100px
}
