.flag_button {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
  font-size: 40px
}

.navbar_color {
    background-color: #6c757d;
}

.navbar_text_color {
  color: white;
}

.navbar-nav .navbar-brand {
    margin-right: 25px;
    margin-left: 25px;
}